---
import Layout from '../layouts/Layout.astro';

const description = "404 - Stránka Nenalezena"
---

<Layout title="Průvodce Broumovem" description={description}>
<div class="container flex flex-col justify-center items-center text-center space-y-2">
<h1 aria-hidden="true" class="text-6xl font-bold">404</h1>
<p class="font-bold">Stránka nenalezena</p>
</div>
</Layout>

