---
import Layout from "../layouts/Layout.astro";
import IndexBlobs from "../assets/img/indexBlobs.png";
import { Image } from "astro:assets";
import MainPageContent from "../components/pageContent/mainPageContent.astro";

const description =
  "Přijmete pozvánku na procházku Broumovem s nostalgickou vzpomínkou na jeho podobu z přelomu 19. a 20. století.";
---

<Layout title="Průvodce Broumovem" description={description}>
  <div
    id="container"
    class="flex flex-col space-y-10 lg:flex-row lg:space-x-10 items-center justify-evenly linky-bg"
  >
    <section
      aria-labelledby="Uvítací sekce"
      id="welcome"
      class="flex basis-6/12 flex-col flex-1 flex-wrap lg:text-justify bg-secondary/20 p-5 rounded-md mb-5"
    >
      <MainPageContent />
    </section>

    <section aria-hidden="true" class="flex-auto basis-1/6 z-auto">
      <Image
        alt="Dekorační bubliny"
        src={IndexBlobs}
        width={IndexBlobs.width}
        height={IndexBlobs.height}
        format="webp"
      />
    </section>
  </div>
</Layout>

<style></style>
