---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const description = ""
---
<Layout title="O projektu" description={description}>
<h1>O projektu</h1>
</Layout>
