---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Picture } from '@astrojs/image/components';

const description = `Projekt "Průvodce Broumovem" vznikl za podpory těchto partnerů. Děkujeme!`;
---
<Layout title="Partneři" description={description}>
  <div class="flex flex-col flex-auto space-y-32">
<section aria-labelledby="Partneři Průvodce Broumovem" id="logos" class="flex flex-row flex-auto space-x-7 justify-center items-center">
  <Picture aria-label="Institut Reigonální Paměti, z.ú." src={import ("../assets/img/partneri/irpLogo.png")} alt="Institut Reigonální Paměti, z.ú." widths={[216]} heights={[112]} aspectRatio="16:8" sizes="(max-width:30%)" formats={['avif', 'webp', 'png']} />
  <Picture aria-label="Město Brumov" src={import ("../assets/img/partneri/broumovLogo.png")} alt="Město Brumov" widths={[132]} heights={[148]} aspectRatio="1:1" sizes="(max-width:30%)" formats={['avif', 'webp', 'png']} />
  <Picture aria-label="Pod záštitou EU" src={import ("../assets/img/partneri/euLogo.png")} alt="Pod záštitou EU" widths={[273]} heights={[77]} aspectRatio="39:11" sizes="(max-width:30%)" formats={['avif', 'webp', 'png']} background="#fff"/>
  <Picture aria-label="DDM Ulita Broumov" src={import ("../assets/img/partneri/ulitaLogo.png")} alt="DDM Ulita Broumov" widths={[150, 200]} aspectRatio="301:208" sizes="(max-width:30%)" formats={['avif', 'webp', 'png']} background="#fff"/>
</section>
<section id="podekovani" class="flex flex-col flex-auto justify-center items-center">
  <h1 class="text-6xl">Děkujeme!</h1>
</section>
</div>
</Layout>
