---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={`card ${className}`}>
  <slot />
</div>

<style>
  .card {
    @apply flex flex-shrink flex-col flex-nowrap rounded-md drop-shadow-md;
  }
</style>
