---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---
<div class={`card ${className}`}>
  <slot/>
</div>

<style>
.card {
  @apply flex flex-col flex-nowrap rounded-md flex-shrink drop-shadow-md;
}
</style>
