---
export interface Props {
	title: string;
  description: string;
}

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="cs" class="min-h-screen min-w-screen">
  <BaseHead title={title} description={description} />
	<body class="min-h-full w-full flex flex-wrap bg-primary text-secondary">
    <Header />
    <main id="content" class="lg:p-16 p-3 flex-wrap flex justify-center items-center h-full w-full">
      <slot>
        <h1 class="justify-self-center">Zatím tu nic není!</h1>
      </slot>
    </main>
    <Footer />
	</body>
</html>

<script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>


<style is:global>
  @import url("https://use.typekit.net/csa2fon.css");

html {
  font-family: 'lato'!important;
  font-weight: 400;
  @apply scroll-smooth motion-reduce:scroll-auto transition-all ease-in-out;
}

body {
  background: center / cover border-box no-repeat url(../../src/assets/svg/bodyBgLines.svg);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-loose mt-4;
 font-family: 'lato';

}

h1 {
  @apply text-3xl text-secondary;
  font-weight: 700;
}

h2 {
  @apply text-2xl text-secondary;
  font-weight: 700;
}

h3 {
  @apply text-xl text-secondary tracking-wide;
}

p {
  font-family: 'lato';
  font-weight: 400;
}

.btn {
  @apply py-3 px-5 bg-quarternary-500 text-white font-bold hover:bg-quarternary-600 rounded-md transition-all ease-out;
}

.card {
  @apply flex flex-col flex-wrap p-5 rounded-sm flex-auto text-justify;
}
</style>

