---
export interface Props {
	title: string;
}

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="cs" class="min-h-screen min-w-screen">
  <BaseHead title={title}/>
	<body class="h-full flex flex-wrap justify-between bg-primary text-secondary">
    <Header />
    <main id="content" class="lg:p-16 p-3 flex-wrap flex justify-center items-center h-full w-full">
      <slot>
        <h1 class="justify-self-center">Zatím tu nic není!</h1>
      </slot>
    </main>
    <Footer />
	</body>
</html>

<style is:global>
  @import url("https://use.typekit.net/csa2fon.css");

html {
  font-family: 'Lato';
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background: center / cover border-box no-repeat url(../assets/img/linky-bg.svg);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-loose mt-4;
 font-family: 'Lato';

}

h1 {
  @apply text-3xl text-secondary;
  font-weight: 700;
}

h2 {
  @apply text-2xl text-secondary;
  font-weight: 700;
}

h3 {
  @apply text-xl text-secondary tracking-wide;
}

p {
  font-family: 'Lato';
  font-weight: 400;
}

.btn {
  @apply py-3 px-5 bg-quarternary text-white font-bold hover:bg-quarternary/90 rounded-md transition-all ease-in-out
}
</style>
