---
export interface Props {
	title: string;
}

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen min-w-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-full flex flex-wrap justify-between bg-primary text-secondary">
    <Header />
    <main id="content" class="lg:p-16 p-3 flex-wrap flex justify-center items-center h-full w-full">
      <slot>
        <h1 class="justify-self-center">Zatím tu nic není!</h1>
      </slot>
    </main>
    <Footer />
	</body>
</html>

<style is:global>
  @import url("https://use.typekit.net/csa2fon.css");

html {
  font-family: 'Lato';
  font-weight: 400;
}

body {
  background: top / cover border-box no-repeat url(../assets/bg/index/linky-bg.svg);
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-loose mt-4;
 font-family: 'Lato';

}

h1 {
  @apply text-3xl text-quarternary;
  font-weight: 700;
}

h2 {
  @apply text-2xl text-quarternary;
  font-weight: 700;
}

h3 {
  @apply text-xl text-secondary tracking-wide;
}

p {
  font-family: 'Lato';
  font-weight: 400;
}
</style>
